include @templates/icon

mixin sidebar
  - const colors = ['blue', 'red', 'yellow', 'pink', 'green', 'purple']
  -
    const items = [
      {
        text: 'Overview',
        icon: 'home',
        path: '/',
        page: 'overview',
      },
      {
        text: 'New',
        icon: 'document-add',
        path: '/new-page',
        page: 'new-page',
      },
      {
        text: 'Editor',
        icon: 'pencil-alt',
        path: '/edit-page',
        page: 'edit-page',
      },
      {
        text: 'Checkout',
        icon: 'shopping-cart',
        path: '/checkout',
        page: 'checkout',
      },
      {
        text: 'Saved',
        icon: 'bookmark',
        path: '/checkout?show=saved',
        page: 'saved',
      }
    ]
  -
    const recent = [
      "The State and Fate of Hell",
      "You Won't Know if You Don't Ask Him",
      "Subsitutes Aren't Enough",
      "Markers of the Apostate",
      "The Only Refuge that Lasts for Eternity",
      "The Enemy is Here Because of God"
    ]
  // Sidebar
  div(x-data class='flex flex-col h-full select-none')
    // Header
    div(class='bg-gray-900 flex items-center h-16 px-4')
      div(class='flex-shrink-0 flex items-center')
        // Logo
        img(
          class='h-8 w-auto'
          src='https://tailwindui.com/img/logos/workflow-logo-indigo-500-mark-white-text.svg'
          alt='Workflow'
        )
    // Menu Area
    div(class='px-2 py-3 flex-1 overflow-hidden' class='text-green-500')
      // Sidebar Buttons
      each item in items
        // Button
        - var { page, text, icon } = item
        a(@click=`$store.routing.navigate('${item.page}')`)
          div(
            class='text-gray-400 px-2 py-2 my-1 flex items-center space-x-3 rounded-lg hover:bg-gray-900 hover:text-gray-300 transition-all'
            :class= `{ "bg-gray-900 text-white": $store.routing.page === '${page}' }`
          )
            // Icon and Label
            +icon(name=icon)
            p(class='flex-1 text-sm font-medium')= text
            // Badge Count
            template(x-if=`'${page}' === 'saved'`)
              div(class='bg-blue-500 text-gray-200 text-sm text-center w-10 h-5 rounded-full') 12
      // Recently Updated
      div(class=' text-gray-400 px-2 py-2 mt-8 flex items-center space-x-3 rounded-lg')
        p(class='text-sm font-medium') Recently Updated
        +icon(name='clock' style='solid' class='h-4 w-4')
      div(class='flex-1 pr-2')      
        each item, idx in recent
          div(class=' text-gray-400 px-2 py-2 my-1 flex items-center space-x-3')
            div(class='h-2 w-2 rounded-full' class=`bg-${colors[idx]}-500`)
            p(class='text-sm font-medium truncate')= item
    // Settings
    div(class='group bg-gray-700 h-16 pl-3 pr-3 inline-flex items-center')
      img(class="h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.25&w=256&h=256&q=80" alt="")
      div(class='flex-1 pl-3 truncate')
        div(class='ml-0.5 text-gray-300 font-medium truncate') Victor Hafichuk
        div(class="flex items-center text-sm text-gray-400")
          div
            +icon(name='location-marker' style='solid' class="mr-1.5 h-4 w-4 text-red-400")
          p(class='truncate') Lethbridge, AB
      // Button
      a(@click=`$store.routing.navigate('/settings')`)
        div(class="flex items-center justify-center h-10 w-10 rounded-md bg-gray-600 text-gray-400 group-hover:bg-indigo-500 transition-all")
          +icon(name='cog' class="h-6 w-6")